// html.mobile {
//   .introjs-helperNumberLayer {
//     display: none;
//   }
// }

html.desktop,
html.mobile {
  .introjs-helperNumberLayer {
    display: none;
  }

  .introjs-helperLayer {
    // background-color: rgba(168, 192, 255, 0.5);
    background-color: rgba(192, 192, 192, 0.5); // Because too much blue
    box-shadow: 0 0px 10px 1px rgba(255, 255, 255, 0.6) inset;
    border: 0;
    border-radius: 0px;

    &.is-light {
      background-color: rgba(168, 192, 255, 0.2);
    }

    transition: all 0.3s ease;
  }
  .introjs-overlay {
    background: -webkit-radial-gradient(
      center,
      ellipse farthest-corner,
      rgba(0, 0, 0, 0.9) 0,
      rgba(0, 0, 0, 0.999) 100%
    );
  }
  .introjs-button {
    color: white;
    background: rgba(#fff, 0.2);
    font-weight: bold;
    border: 0;
    text-shadow: none;
    border-radius: 0;
    font: 14px / normal Lato;
    font-weight: bold;
    flex: 1;
    text-align: center;
    padding: 10px;

    &.introjs-disabled {
      opacity: 0.3;
    }

    &.introjs-prevbutton,
    &.introjs-skipbutton {
      margin-right: 5px;
      color: white;
      background: rgba(#fff, 0.1);
    }

    &:hover {
      box-shadow: none;
      background: rgba(#fff, 0.3);
    }

    &:focus {
      outline: none;
    }

    &.introjs-nextbutton {
      flex: 2;
    }
  }

  .introjs-progress {
    background: rgba(#fff, 0.2);
  }

  .introjs-progressbar {
    background: rgba(#fff, 0.6);
  }

  .introjs-tooltipbuttons {
    display: flex;
  }

  .introjs-tooltiptext {
    font-size: 16px;
    p {
      margin: 16px 0;
      line-height: 150%;
    }
    strong {
      font-weight: bold;
    }
    header {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .introjs-arrow.left {
    border-right-color: rgba(76, 76, 156, 0.95);
  }
  .introjs-arrow.bottom {
    border-top-color: rgba(76, 76, 156, 0.95);
  }
  .introjs-arrow.top-middle {
    border-bottom-color: rgba(76, 76, 156, 0.95);
  }
  .introjs-arrow.top-right {
    border-bottom-color: rgba(76, 76, 156, 0.95);
  }
  .introjs-arrow.top {
    border-bottom-color: rgba(76, 76, 156, 0.95);
  }

  .introjs-tooltip {
    border-radius: 0;
    box-shadow: none;
    min-width: 400px;
    max-width: 500px;
    margin-left: 20px;
    background: rgba(76, 76, 156, 0.95);
    color: white;

    &.is-last {
      .introjs-prevbutton {
        display: none;
      }
      .introjs-skipbutton {
        flex: 0 0 auto;
        min-width: 200px;
        background: rgba(#fff, 0.2);

        &:hover {
          background: rgba(#fff, 0.3);
        }
      }
      .introjs-tooltipbuttons {
        justify-content: flex-end;
      }
    }
  }
}

html.mobile {
  .introjs-tooltiptext {
    font-size: 12px;
  }
  .introjs-tooltip {
    min-width: 50vw;
    max-width: none;

    margin-right: 20px;
  }
  .introjs-button {
    font-size: 12px;
    padding: 6px;
  }
  .introjs-progress {
    display: none;
  }
  .introjs-tooltip.is-last .introjs-skipbutton {
    min-width: 100px;
  }
}
